{% extends 'base.html.twig'%}
{% block title %}{{blog.title}}{% endblock %}
{% block body %}
<div class="blog-container">
<h1>{{blog.title}}</h1>

<p>{{blog.content|raw}}</p>
<h2>{{blog.comments|length}} comment(s)</h2>
</div>
<div>
{{form(form)}} 
</div>
{% endblock %}