{% extends 'base.html.twig' %}

{% block title %}R Laboratory: Blog{% endblock %}

{% block body %}
<div class="blog-container d-flex-center">
    <div class="container-section ">
        <h1>Blog</h1>
        <h2>Articles</h2>
        <div class="grid-container">
        {% for blog in blogs %}
        <div>
            <a href="{{ path('blog_article_show', {'slug': blog.slug }) }}">
            <h3>{{blog.title}}</h3>
            <img src="https://www.fancypapers.com/wp-content/uploads/2020/03/K-COLOUR_DARK_RED_140-250gsm-320x320-1.jpg">
            </a>
            <p>{{blog.content|striptags}}</p>
        </div>
        {% endfor %}
        </div>
    <div>
    <h2>Categories</h2>
       {% for category in categories %}
       <a href="{{ path('blog_category_show', {'slug': category.slug }) }}">
       <li>{{category.name}}</li>
       </a>
       {% endfor %}
    </div>
    </div>   
    
</div>
{% endblock %}
