{% extends 'base.html.twig' %}

{% block title %}R Laboratory: Blog{% endblock %}

{% block body %}
<div class="blog-container 
">
    
    <div id="blog-title-container">
        <div id="connexion-container">
            <a href="{{path('app_login')}}">Connexion</a>
            <a href="{{path('app_registration')}}">Inscription</a>
             <a href="{{path('admin')}}">Admin</a>
            
        </div>
        <h1 id="blog-title">Blog</h1>  
        <div class="categories-list">
        {% for category in categories %}
            <a href="{{ path('blog_category_show', {'slug': category.slug }) }}">
                <li style="border-bottom: 1px solid {{category.color}}">{{category.name|capitalize}}</li>
            </a>
       {% endfor %}
        </div>
    </div>
    <div class="article-list-container">  
        <div id="box-articles">
        {% for blog in blogs %}
        {% if blog == blogs|first %}
        <h2 class="align-left">Last Article</h2>
        <div id="first-article">
            <div class="img-container-first">
                <img src='uploads/{{blog.image.filename}}'>
            </div>
            <div class="article-container" >
                <a href="{{ path('blog_article_show', {'slug': blog.slug }) }}">
                    <h3>{{blog.title}}</h3>
                    {% for category in blog.categories %}
                    <span style="color:{{category.color}}">{{category.name}} </span>
                    {% endfor %}
                    {% if blog.textInfo %}
                    <p>{{ blog.textInfo }}</p>
                    {% else %}
                    
                    <p>{{blog.content|striptags|slice(0, 70, '...')}}</p>
                    {% endif %}
                    <p>{{blog.createdAt|date()}}</p>
                </a>
            </div>
        </div>
        <h2>Other articles</h2>
        <div class="grid-container">
        {% else %}
            <div class='article-container-w30 article-container'>
                <a href="{{ path('blog_article_show', {'slug': blog.slug }) }}">
                <div class="img-container">
                    <img src='uploads/{{blog.image.filename}}'>
                </div>
                <h3>{{blog.title}}</h3>
                {% for category in blog.categories %}
                <span style="color:{{category.color}}">{{category.name|capitalize}} </span>
            {% endfor %}
                {% if blog.textInfo %}
                    <p>{{ blog.textInfo }}</p>
                    {% else %}
                    
                    <p>{{blog.content|striptags|slice(0, 50, '...')}}</p>
                    {% endif %}
                <p>{{blog.createdAt|date()}}</p>
                </a>
            </div>
       {% endif %}
        {% endfor %}
  
        </div>
    </div>
    </div>
   
    
</div>

    
{% endblock %}
